



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;

}

body {
    background-image: url("background.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    flex-direction: column;
}

h1{
    font-size: 100px;
    padding-bottom: 20px;
    color: white;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;

}

.calculator {
    background-image: url("background2.jpg");
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.calculator-screen {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.712);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.key {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.key:hover {
    background-color: #e0e0e0;
}

.key:active {
    background-color: #d0d0d0;
}

@media (max-width: 400px) {
    .key {
        padding: 15px;
        font-size: 20px;
    }
}
